mat-card {
  max-width: 18rem;
  min-width: 16rem;
  box-shadow: 10px 10px 3px black;
  display: inline-block;
  position: relative;
  &:hover {
      // background-color: rgba(128, 128, 128, 0.602);
      box-shadow: 20px 10px 40px black;
      transform: scale(1.05) ;
      z-index: 10;
    }

}


h3 {
  display: flex;
  justify-content: space-between;
}

small {
  color: red;
  text-decoration: line-through;
}

img {
  max-height: 15rem;
  min-height: 15rem;
}


mat-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
