/* You can add global styles to this file, and also import other style files */
$small-screen: 600px;


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
